/* make the customizations */
$theme-colors: (
    "info": rgb(255, 71, 194),
    "danger": rgb(44, 203, 206),
    "test": rgba(53, 51, 170, 0.65)
);

.btn {
    border-radius: 0;
    color: orange; 
 }






/* import bootstrap to set changes */
/* import goes last because we want all of the changes that are above to be included*/
@import "~bootstrap/scss/bootstrap";